.grid {
  position: relative;
  border: 1px solid #dedede;
}
.grid .square {
  position: relative;
  box-sizing: border-box;
  float: left;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  font-weight: bolder;
  font-size: 30px;
}
.grid .square.wrap {
  clear: left;
}
.grid .square.black {
  background-color: #000;
}
.grid .square.black.selected {
  background-color: #333;
}
.grid .square.black:hover {
  background-color: #333;
}
.grid .square:hover {
  background-color: #D0D9F5;
}
.grid .square.selected {
  border-color: #00F;
  background-color: #D0D9F5;
}
.grid .square .idx {
  position: absolute;
  font-size: 8px;
  font-weight: normal;
  line-height: 9px;
  top: 1px;
  right: 2px;
  color: #777;
}
