.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .grid {
    display: flex;
    flex-direction: column;

    border: 1px solid #000;

    .gridRow {
      display: flex;
      flex-direction: row;
      flex-basis: content;

      &:last-child {
        .square{
          border-bottom-color: transparent;
        }
      }
    }

    .square {
      width: 5rem;
      height: 5rem;

      position: relative;
      border: 1px solid #000;
      border-top-color: transparent;
      border-left-color: transparent;
      cursor: pointer;

      &:last-child {
        border-right-color: transparent;
      }

      &:hover {
        background-color: #D0D9F5;
      }

      &.selected {
        border: 1px solid #00F;
        background-color: #D0D9F5;
      }

      &.definition {
        display: flex;
        flex-direction: column;
        background-color: #EFFAB6;

        &.selected {
          background-color: #DEE8A9;
        }

        &:hover {
          background-color: #DEE8A9;
        }

        &:after, &:before {
          position: absolute;
          width: 1rem;
          height: 1rem;
          line-height: 1rem;
          font-size: 1rem;
          text-align: center;
          z-index: 1;
        }

        &.arrow-vertical {
          &:after {
            content: "↓";
            bottom: -1rem;
            width: 100%;
          }
        }

        &.arrow-vertical-right {
          &:before {
            content: "↴";
            right: -1rem;
          }
        }

        &.arrow-horizontal {
          &:before {
            content: "→";
            right: -1rem;
          }
        }

        &.arrow-horizontal-under {
          &:after {
            content: "↳";
            bottom: -1rem;
            width: 100%;
          }
        }

        .def {
          flex-grow: 1;
          font-size: 0.75rem;

          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          text-align: center;
          overflow: hidden;

          border-bottom: 1px solid #000;

          &:last-child {
            border-bottom: none;
          }
        }
      }

      &.letter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;

        font-size: 2rem;


        &.selected {
          &.direction-right:after {
            content: "▸";
            right: -1rem;

            position: absolute;
            width: 1rem;
            height: 1rem;
            line-height: 1rem;
            font-size: 1rem;
            text-align: center;
            color: #00F;
            z-index: 1;
          }
          &.direction-down:after {
            content: "▾";
            bottom: -1rem;
            width: 100%;

            position: absolute;
            height: 1rem;
            line-height: 1rem;
            font-size: 1rem;
            text-align: center;
            color: #00F;
            z-index: 1;
          }
        }
      }
    }

  }
}